.enemyZone {
  padding: 1em 0;
  width: 80%;
  left: 10%;
  position: relative;
}

.enemySafeArea {
  display: grid;
  grid-template-columns: repeat(
    10,
    100px
  ); /* Define 10 colunas com 100px de largura cada */
  grid-template-rows: repeat(
    3,
    100px
  ); /* Define 3 linhas com 100px de altura cada */
  grid-gap: 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
}
