.main {
  height: 100vh;
  width: 100vw;
}

.space {
  height: 100%;
  width: 100%;
  position: relative;
}

.enemySpace {
  background-color: greenyellow;
  position: relative;
}

.enemyZone {
  border: solid 1px red;
  display: grid;
  grid-template-columns: repeat(
    10,
    100px
  ); /* Define 10 colunas com 100px de largura cada */
  grid-template-rows: repeat(
    3,
    100px
  ); /* Define 3 linhas com 100px de altura cada */
  grid-gap: 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}